body {
  font-family: Roboto;
  font-size: 12px;
}

header {
  border-bottom: 1px solid #ccc;
  background-color: #2185D5;
  padding: 1em;
  margin: 0;
  text-transform: uppercase;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

header h1 {
  color: #fff;
  font-size:1.5em;
}

nav, section article {
  padding-top: 1.5em;
}

nav {
  border-right: 1px solid #ccc;
}

header div[class*=button-container] {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

header div.close-button-container {
  display:none;
}

header div a, header div a:hover{
  text-decoration: none;
  color: #fff;
}

header div a i {

  font-size: 2.5em;
}

nav ul {
  list-style: none;
  padding:0;
  position: fixed;
}

nav ul li {
  padding: .5em;
}

nav ul li h6 {
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: 0;
}

header h1, section article h2 {
  text-transform: uppercase;
  font-family: Montserrat;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
}

section article {
  padding: 2em;
}

section article h2 {
  font-size: 1.5em;
}

section article:first-child {
  border-bottom: 1px solid #ccc;
}

section article:last-child {
  background-color: #2f2f2f;
  border-bottom: 1px solid #444;
  padding: 2.5em;
}

section article:last-child pre[class*="language-json"]{
  padding: 0em;
  background: #1f1f1f;
  display: flex;
  align-items: center;
  margin:0;
  border-radius :0;
}

pre::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

pre::-webkit-scrollbar
{
  height: 5px;
  background-color: #F5F5F5;
}

pre::-webkit-scrollbar-thumb
{
  background-color: #2185D5;
}

/* section {
height: 100vh;
} */

section article:last-child code {
  font-family : 'Source Code Pro';
  font-size: 1.3em;
  white-space: pre-wrap;
  padding: 1.5em;
}

section article h4 {
  font-size: 1.3em;
  color:white;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Open Sans';
}

section article:last-child h5 {
  font-size: 1.2em;
  color:white;
  font-family: 'Open Sans';
}

section article:last-child p {
  color: white;
}

section article:first-child h2 {
  margin-bottom: 1.5em;
}

section article:first-child p {
  font-size: 1.3em;
}

@media (max-width:995px) {
  nav {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  nav ul {
    position: relative;
    list-style: none;
    padding:0;
    text-align: center;
  }
  nav ul li {
    font-size: 1.15em;
    font-family: Montserrat;
    padding: 1em 0;
    text-transform: uppercase;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
