<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>API documentation</title>

  <!-- Prism CSS -->
  <link rel="stylesheet" href="{{ asset('lib/prism/prism.css') }}">
  <!-- // Prism CSS -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <!-- // Bootstrap CSS -->

  <!-- Personal CSS -->
  <link rel="stylesheet" href="{{ asset('build/doc.css') }}">
  <!-- // Personal CSS -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Roboto|Open+Sans|Source+Code+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- // Fonts -->
</head>
<body class="container-fluid">
  <header class="row">
    <h1 class="col-10">Base documentation</h1>
    <div class="col-2 burger-button-container d-lg-none">
      <a href="#">
        <i class="material-icons">menu</i>
      </a>
    </div>
    <div class="col-2 close-button-container d-lg-none">
      <a href="#">
        <i class="material-icons">close</i>
      </a>
    </div>
  </header>
  <div id="right-wrapper" class="row">
    <nav class="col-12 col-lg-2">
      <ul class="d-none d-lg-block">
        <li>
          <h6>API endpoints</h6>
          <ul>
            <li>
              <a href="#chezmeme-sso">Log in</a>
            </li>
            <li>
              <a href="#all-files">List all files</a>
            </li>
            <li>
              <a href="#filtered-files">List filtered files</a>
            </li>
            <li>
              <a href="#upload-file">Upload new file</a>
            </li>
            <li>
              <a href="#download-file">Download file</a>
            </li>
            <li>
              <a href="#list-versions">List versions of file</a>
            </li>
            <li>
              <a href="#download-file-version">Download file of version</a>
            </li>
            <li>
              <a href="#upload-new-version">Upload new version of file</a>
            </li>
            <li>
              <a href="#delete-file">Delete file</a>
            </li>
            <li>
              <a href="#all-users">List all users</a>
            </li>
            <li>
              <a href="#all-file-types">List all file types</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <main class='col-12 col-lg-10'>
      <div>
        <section class="row">
          <article id="chezmeme-sso" class="col-lg-6 col-12">
            <h2>ChezMeme's SSO</h2>
              <p>
                For all the following requests, your app will need to send a token to our API. This token is used to authenticate to ChezMeme's SSO. We advise you to ask ChezMeme's SSO to connect and then get your token.
              </p>
            </article>
            <article class="col-lg-6 col-12">
              <h4>API endpoint</h4>
              <pre><code class="language-json">http://www.chezmeme.com/sso/api/v1.5/login/{user}/{password} (get)</code></pre>
              <h5>Example response</h5>
              <pre>
                <code class="language-json">
                  {
                    "ret": 1, // 1 if authenticated, else 0
                    "token": "edfde4f468zGJUJ"
                  }
                </code>
              </pre>
            </article>
          </section>
          <section class="row">
            <article id="all-files" class="col-lg-6 col-12">
              <h2>All files</h2>
              <p>
                List all stored files using
                <code>GET</code>
                method. This will respond you with a JSON object containing all files with all their disponible informations.
              </p>
            </article>
            <article class="col-lg-6 col-xs-12">
              <h4>API endpoint</h4>
              <pre><code class="language-json">https://etudiant11.chezmeme.com/base_documentaire/public/api/{token}/files (get)</code></pre>
              <h5>Example response</h5>
              <pre>
                <code class="language-json">
                  [
                  {
                    "title":"title",
                    "description":"description",
                    "pin":4444,
                    "show":"https:\/\/etudiant11.chezmeme.com\/base_documentaire\/public\/api\/files\/3"
                  },
                  {
                    "title":"encore",
                    "description":"description encore",
                    "pin":8888,
                    "show":"https:\/\/etudiant11.chezmeme.com\/base_documentaire\/public\/api\/files\/4"
                  },
                  {
                    "title":"test",
                    "description":"description test",
                    "pin":0,
                    "show":"https:\/\/etudiant11.chezmeme.com\/base_documentaire\/public\/api\/files\/5"
                  },
                  {

                    "title":"test",
                    "description":"description test",
                    "pin":0,
                    "show":"https:\/\/etudiant11.chezmeme.com\/base_documentaire\/public\/api\/files\/6"
                  }
                  ]
                </code>
              </pre>
            </article>
          </section>
          <section class="row">
            <article id="filtered-files" class="col-lg-6 col-xs-12">
              <h2>Filter files</h2>
              <p>List files using parameters with
                <code>GET</code>
                method. You can use the following parameters :
              </p>
              <div class="container">
                <table class="table">
                  <thead>
                    <tr class="row">
                      <th class="col-3">Parameter</th>
                      <th class="col-3">Default values</th>
                      <th class="col-6">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row">
                      <td class="col-3">type</td>
                      <td class="col-3">NULL</td>
                      <td class="col-6">
                        List all the files whose type is the one you specified. To know what are disponible types,
                        <a href="#all-file-types">list them</a>.
                      </td>
                    </tr>
                    <tr class="row">
                      <td class="col-3">version</td>
                      <td class="col-3">NULL</td>
                      <td class="col-6">
                        List all the files whose version number is the one you specified.
                      </td>
                    </tr>
                    <tr class="row">
                      <td class="col-3">size</td>
                      <td class="col-3">
                        <code>small</code>
                        ,
                        <code>medium</code>
                        ,
                        <code>large</code>
                      </td>
                      <td class="col-6">
                        List all the files whose size are small, medium or large.
                      </td>
                    </tr>
                    <tr class="row">
                      <td class="col-3">deposit</td>
                      <td class="col-3">
                        <code>day</code>
                        ,
                        <code>week</code>
                        ,
                        <code>month</code>
                        ,
                        <code>year</code>
                        ,
                        <code>older</code>
                      </td>
                      <td class="col-6">
                        List all files that were filed the same day, in the week, in the month, in the year or before. The selected files will be between the specified parameter and the previous. For instance, if you specify
                        <code>month</code>
                        parameter, you will get files from the last month minus one week.
                      </td>
                    </tr>
                    <tr class="row">
                      <td class="col-3">keywords</td>
                      <td class="col-3">NULL</td>
                      <td class="col-6">
                        List all the files containing specified keywords. You can add multiple keywords using '+' operator.
                      </td>
                    </tr>
                    <tr class="row">
                      <td class="col-3">description</td>
                      <td class="col-3">NULL</td>
                      <td class="col-6">
                        List all the files whose description containing words you specify. You can add multiple keywords using '+' operator.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </article>
            <article class="col-lg-6 col-xs-12">
              <h4>API endpoint</h4>
              <p>
                <pre>
                  <code class="language-json">
                    https://etudiant11.chezmeme.com/base_documentaire/public/api/{token}/files?param1=val1 (get)
                  </code>
                </pre>
              </p>
              <h5>Example response</h5>
              <pre>
                <code class="language-json">
                  [
                  {
                    "title":"title",
                    "description":"description",
                    "pin":4444,
                    "show":"https:\/\/etudiant11.chezmeme.com\/base_documentaire\/public\/api\/files\/3"
                  },
                  {
                    "title":"encore",
                    "description":"description encore",
                    "pin":8888,
                    "show":"https:\/\/etudiant11.chezmeme.com\/base_documentaire\/public\/api\/files\/4"
                  }
                  ]
                </code>
              </pre>
            </article>
          </section>
          <section class="row">
            <article id="upload-file" class="col-lg-6 col-xs-12">
              <h2>Upload file</h2>
              <p>
                You can upload a new file using
                <code>POST</code>
                method. It will be stored in our databases.
              </p>
              <p>
                You have to send these parameters :
              </p>
              <div class="container">
                <table class="table">
                  <thead>
                    <tr class="row">
                      <th class="col-3">Parameter</th>
                      <th class="col-3">Mandatory</th>
                      <th class="col-6">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row">
                      <td class="col-3">title</td>
                      <td class="col-3"><code>mandatory</code></td>
                      <td class="col-6">Specify a title for your file. You will be able to change this title when you'll upload a new version af the file.</td>
                    </tr>
                      <tr class="row">
                        <td class="col-3">file</td>
                        <td class="col-3"><code>mandatory</code></td>
                        <td class="col-6">Send the file you are uploading.</td>
                      </tr>
                    <tr class="row">
                      <td class="col-3">keywords</td>
                      <td class="col-3"><code class="text-info">optional</code></td>
                      <td class="col-6">Specify keywords for your file. You can then use these keywords to search a file or mulgtiple files containing one or multiple keywords.</td>
                    </tr>
                    <tr class="row">
                      <td class="col-3">description</th>
                        <td class="col-3"><code class="text-info">optional</code></td>
                        <td class="col-6">Write a short text describing your file.</td>
                      </tr>
                      <tr class="row">
                        <td class="col-3">pin</td>
                        <td class="col-3"><code class="text-info">optional</code></td>
                        <td class="col-6">If you want to secure your file, you can specify a 6 digits PIN code.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </article>
              <article class="col-lg-6 col-xs-12">
                <h4>API endpoint</h4>
                <p>
                  <pre>
                    <code class="language-json">
                      https://etudiant11.chezmeme.com/base_documentaire/public/api/{token}/files (post)
                    </code>
                  </pre>
                </p>
                <h5>Example response</h5>
                <pre>
                  <code class="language-json">
                    {
                      "glossary": {
                        "title": "Titre du document",
                        "description": "Description du document",
                        "pin": "code pin",
                        "show": "lien d'affichage du document",
                        "last_file": {
                          "version": "numéro de la version",
                          "path": "lien de téléchargment du fichier",
                          "deposit_date": "date de dépot du fichier",
                          "user": {
                            "id": "id de l'utilisateur",
                            "sso_id": "id de l'utilisateur dans l'API SSO",
                            "first_name": "prénom",
                            "last_name": "nom",
                            "show": "lien d'affichage de l'utilisateur"
                          }
                        }
                      }
                    }
                  </code>
                </pre>
              </article>
            </section>
            <section class="row">
              <article id="download-file" class="col-lg-6 col-xs-12">
                <h2>Download file</h2>
                <p>
                  Download the file with its id using
                  <code>GET</code>
                  method.
                </p>
              </article>
              <article class="col-lg-6 col-xs-12">
                <h4>API endpoint</h4>
                <p>
                  <pre>
                    <code class="language-json">
                      https://etudiant11.chezmeme.com/base_documentaire/public/api/{token}/files/{id}/download (get)
                    </code>
                  </pre>
                </p>
                <h5>Example response</h5>
                <p>File download</p>
              </article>
            </section>
            <section class="row">
              <article id="list-versions" class="col-lg-6 col-xs-12">
                <h2>Versions of file</h2>
                <p>
                  Since you can
                  <a href="#upload-new-version">upload many versions of a file</a>, you're able to list them using
                  <code>GET</code>
                  method.
                </p>
              </article>
              <article class="col-lg-6 col-xs-12">
                <h4>API endpoint</h4>
                <p>
                  <pre>
                    <code class="language-json">
                      https://etudiant11.chezmeme.com/base_documentaire/public/api/{token}/files/{id}/versions (get)
                    </code>
                  </pre>
                </p>
                <h5>Example response</h5>
                <pre>
                  <code class="language-json">
                    {
                      "glossary": {
                        "title": "example glossary",
                        "glossdiv": {
                          "title": "s",
                          "glosslist": {
                            "glossentry": {
                              "id": "sgml",
                              "sortas": "sgml",
                              "glossterm": "standard generalized markup language",
                              "acronym": "sgml",
                              "abbrev": "iso 8879:1986",
                              "glossdef": {
                                "para": "a meta-markup language, used to create markup languages such as docbook.",
                                "glossseealso": ["gml", "xml"]
                              },
                              "glosssee": "markup"
                            }
                          }
                        }
                      }
                    }
                  </code>
                </pre>
              </article>
            </section>
            <section class="row">
              <article id="download-file-version" class="col-lg-6 col-xs-12">
                <h2>Download file version</h2>
                <p>
                  You can download a specific version of a file. To know the differents versions of one file,
                  <a href="#list-versions">list them</a>
                  using
                  <code>GET</code>
                  method.
                </p>
              </article>
              <article class="col-lg-6 col-xs-12">
                <h4>API endpoint</h4>
                <p>
                  <pre>
                    <code class="language-json">
                      https://etudiant11.chezmeme.com/base_documentaire/public/api/{token}/files{id}/versions{id_version} (get)
                    </code>
                  </pre>
                </p>
                <h5>Example response</h5>
                <pre>
                  <code class="language-json">
                    {
                      "glossary": {
                        "title": "example glossary",
                        "glossdiv": {
                          "title": "s",
                          "glosslist": {
                            "glossentry": {
                              "id": "sgml",
                              "sortas": "sgml",
                              "glossterm": "standard generalized markup language",
                              "acronym": "sgml",
                              "abbrev": "iso 8879:1986",
                              "glossdef": {
                                "para": "a meta-markup language, used to create markup languages such as docbook.",
                                "glossseealso": ["gml", "xml"]
                              },
                              "glosssee": "markup"
                            }
                          }
                        }
                      }
                    }
                  </code>
                </pre>
              </article>
            </section>
            <section class="row">
              <article id="upload-new-version" class="col-lg-6 col-xs-12">
                <h2>Upload file version</h2>
                <p>
                  Update a file giving it a new version using
                  <code>POST</code>
                  method.
                </p>
                <p>
                  When you're uploading a new version of a file, you can update the document informations.
                </p>
                <div class="container">
                  <table class="table">
                    <thead>
                      <tr class="row">
                        <th class="col-3">Parameter</th>
                        <th class="col-3">Mandatory</th>
                        <th class="col-6">Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="row">
                        <td class="col-3">title</td>
                        <td class="col-3"><code class="text-info">optional</code></td>
                        <td class="col-6">Specify a title for your file. You will be able to change this title when you'll upload a new version af the file.</td>
                      </tr>
                      <tr class="row">
                        <td class="col-3">description</th>
                          <td class="col-3"><code class="text-info">optional</code></td>
                          <td class="col-6">Write a short text describing your file.</td>
                        </tr>
                        <tr class="row">
                          <td class="col-3">pin</td>
                          <td class="col-3"><code class="text-info">optional</code></td>
                          <td class="col-6">If you want to secure your file, you can specify a 6 digits PIN code.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </article>
                <article class="col-lg-6 col-xs-12">
                  <h4>API endpoint</h4>
                  <p>
                    <pre>
                      <code class="language-json">
                        https://etudiant11.chezmeme.com/base_documentaire/public/api/{token}/files/{id} (put)
                      </code>
                    </pre>
                  </p>
                  <h5>Example response</h5>
                  <pre>
                    <code class="language-json">
                      {
                        "glossary": {
                          "title": "example glossary",
                          "glossdiv": {
                            "title": "s",
                            "glosslist": {
                              "glossentry": {
                                "id": "sgml",
                                "sortas": "sgml",
                                "glossterm": "standard generalized markup language",
                                "acronym": "sgml",
                                "abbrev": "iso 8879:1986",
                                "glossdef": {
                                  "para": "a meta-markup language, used to create markup languages such as docbook.",
                                  "glossseealso": ["gml", "xml"]
                                },
                                "glosssee": "markup"
                              }
                            }
                          }
                        }
                      }
                    </code>
                  </pre>
                </article>
              </section>
              <section class="row">
                <article id="delete-file" class="col-lg-6 col-xs-12">
                  <h2>Delete file</h2>
                  <p>
                    Using the id of the file, you can delete it using
                    <code>DELETE</code>
                    method.
                  </p>
                </article>
                <article class="col-lg-6 col-xs-12">
                  <h4>API endpoint</h4>
                  <p>
                    <pre>
                      <code class="language-json">
                        https://etudiant11.chezmeme.com/base_documentaire/public/api/{token}/files/{id} (delete)
                      </code>
                    </pre>
                  </p>
                  <h5>Example response</h5>
                  <pre>
                    <code class="language-json">
                      {
                        "glossary": {
                          "title": "example glossary",
                          "glossdiv": {
                            "title": "s",
                            "glosslist": {
                              "glossentry": {
                                "id": "sgml",
                                "sortas": "sgml",
                                "glossterm": "standard generalized markup language",
                                "acronym": "sgml",
                                "abbrev": "iso 8879:1986",
                                "glossdef": {
                                  "para": "a meta-markup language, used to create markup languages such as docbook.",
                                  "glossseealso": ["gml", "xml"]
                                },
                                "glosssee": "markup"
                              }
                            }
                          }
                        }
                      }
                    </code>
                  </pre>
                </article>
              </section>
              <section class="row">
                <article id="all-users" class="col-lg-6 col-xs-12">
                  <h2>All users</h2>
                  <p>
                    List all users using
                    <code>GET</code>
                    method.
                  </p>
                </article>
                <article class="col-lg-6 col-xs-12">
                  <h4>API endpoint</h4>
                  <p>
                    <pre>
                      <code class="language-json">
                        https://etudiant11.chezmeme.com/base_documentaire/public/api/{token}/users (get)
                      </code>
                    </pre>
                  </p>
                  <h5>Example response</h5>
                  <pre>
                    <code class="language-json">
                      {
                        "glossary": {
                          "title": "example glossary",
                          "glossdiv": {
                            "title": "s",
                            "glosslist": {
                              "glossentry": {
                                "id": "sgml",
                                "sortas": "sgml",
                                "glossterm": "standard generalized markup language",
                                "acronym": "sgml",
                                "abbrev": "iso 8879:1986",
                                "glossdef": {
                                  "para": "a meta-markup language, used to create markup languages such as docbook.",
                                  "glossseealso": ["gml", "xml"]
                                },
                                "glosssee": "markup"
                              }
                            }
                          }
                        }
                      }
                    </code>
                  </pre>
                </article>
              </section>
              <section class="row">
                <article id="all-file-types" class="col-lg-6 col-xs-12">
                  <h2>All files types</h2>
                  <p>
                    List all files types available in the API using
                    <code>GET</code>
                    method.
                  </p>
                </article>
                <article class="col-lg-6 col-xs-12">
                  <h4>API endpoint</h4>
                  <p>
                    <pre>
                      <code class="language-json">
                        https://etudiant11.chezmeme.com/base_documentaire/public/api/{token}/files/types (get)
                      </code>
                    </pre>
                  </p>
                  <h5>Example response</h5>
                  <pre>
                    <code class="language-json">
                      {
                        "glossary": {
                          "title": "example glossary",
                          "glossdiv": {
                            "title": "s",
                            "glosslist": {
                              "glossentry": {
                                "id": "sgml",
                                "sortas": "sgml",
                                "glossterm": "standard generalized markup language",
                                "acronym": "sgml",
                                "abbrev": "iso 8879:1986",
                                "glossdef": {
                                  "para": "a meta-markup language, used to create markup languages such as docbook.",
                                  "glossseealso": ["gml", "xml"]
                                },
                                "glosssee": "markup"
                              }
                            }
                          }
                        }
                      }
                    </code>
                  </pre>
                </article>
              </section>

            </div>
          </main>
        </div>
        <!-- JQuery JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <!-- // JQuery JS -->
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <!-- // Bootstrap JS -->
        <!-- Prism JS -->
        <script type="text/javascript" src="{{ asset('lib/prism/prism.js') }}"></script>
        <!-- // Prism JS -->
        <script type="text/javascript" src="{{ asset('build/doc.js') }}"></script>
      </body>
      </html>
